<mat-card style="width:50vw !important;  
position: absolute;
top: 100%;
left: 50%;
transform: translate(-50%, 20%);" >
                
    <mat-card-title class="col col-12 d-flex justify-content-center">
        {{mish.mission_name}}
    </mat-card-title>


<div  style="min-height: 25vh;" class=" justify-content-center align-items-center d-flex ">
    
    <div class="col col-5 p-5">
        <img width="150px" src='{{mish.links.mission_patch_small}}' mat-card-image>
    </div>
    <div class="col col-7">
        <div class="row">
            <h2>
                Rocket Name: {{mish.rocket.rocket_name }}
            </h2> 
        </div>
        <div class="row">
            <h2>
                Rocket Type: {{mish.rocket.rocket_type }}
            </h2> 
        </div>
        <div class="row">
            <h2>
                Year: {{mish.launch_year}}
            </h2> 
        </div>
        <div class="row">
            <h2>
                Launch Site: {{mish.launch_site.site_name_long}}
            </h2> 
        </div>
        <div class="row">
            <h2>
                Launch success status: {{mish.launch_success | json }}
            </h2> 
        </div>
        
        <div class="row">
            <h3>
                Details: {{mish.details}}
            </h3> 
        </div>
        
    </div>
</div>
<div class="row">
    
    <a  matTooltip="Video Link" href='{{mish.links.video_link}}'>

        <fa-icon  class="mx-2" [icon]="faVideo"></fa-icon>
    </a>
    <a  matTooltip="Article Link" href='{{mish.links.article_link}}'>

        <fa-icon  class="mx-2" [icon]="faNewspaper"></fa-icon>
    </a>
    <a   href='{{mish.links.wikipedia}}'>

        <fa-icon matTooltip="Wikipedia Link" class="mx-2" [icon]="faBrain"></fa-icon>
    </a>
    
</div>

</mat-card>
